{% extends 'baseBack.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block body %}
    <h1>Ajouter Inscription</h1>

    {{ include('inscription/_form.html.twig') }}

    <a href="{{ path('app_inscription_index') }}">Retourner</a>
{% endblock %}
